.projects{
        font-family: "Changa-Regular", sans-serif !important;
        display: flex;
        flex-direction: column;
}
.donate__link{
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid #6b6b6b;
    color: #6b6b6b;
    padding: 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.donate__link:hover{
    color: #6b6b6b;
}
.donate__para{
    margin: auto;
    margin-top: 20px;
    letter-spacing: 1px;
    color: #6b6b6b;
    text-align: center;
}
.projects__body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    direction: rtl;
    margin-bottom: 70px;
    gap: 2% !important;
}
@media (max-width:767px) {
    .projects__body{
        display: block;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .projects__body {
        display: block;
    }
}
@media (min-width: 995px) {
    .projects__body {
                display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2%;
        }
}
@media (min-width: 1200px) {
    .projects__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1%;
    }
}
.category{
    padding-left: 20px;
}