.projects{
        font-family: "Changa-Regular";
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        /* min-height: 1500px !important; */
        overflow-y: hidden;
     

}
body[dir="ltr"] .projects_dir{
    direction: rtl;
    margin-bottom: 100px;

}
body[dir="rtl"] .projects_dir{
    direction: ltr;
     margin-bottom: 100px;
 
}
.donate__link{
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid #6b6b6b !important;
    color: #6b6b6b !important;
    padding: 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #fff !important;
}
.donate__link:hover{
    color: #fff !important;
    background-color: #EF8451 !important;
    border: 1px solid #EF8451;
    outline: none;
    margin-top: 20px;
    
}
.donate__para{
    margin: auto;
    margin-top: 20px;
    letter-spacing: 1px;
    color: #6b6b6b;
    text-align: center;
}
.projects__body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;

    margin-bottom: 150px;
    gap: 1% !important;
}

@media (max-width:767px) {
    .projects__body{
        display: block;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .projects__body {
        display: block;
    }
}
@media (min-width: 995px) {
    .projects__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%;
    }
}
@media (min-width: 1200px) {
    .projects__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1%;
    }
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 5px !important;
}

.fileImg {
    display: none;
}

.button {
    margin: 0 auto;
    border: 1px solid transparent;
    width: 300px;
    height: 150px;
    cursor: pointer;
    font-size: 17px;
    background-color: #dad3d3 !important;
    margin-bottom: 5px;
    font-family: "Changa-Regular", sans-serif !important;

}

.input,
.textArea {
    border: none;
    outline: none;
    border-radius: 5px !important;
    padding: 1em;
    background-color: #fff !important;
    transition: 300ms ease-in-out;
    font-size: 14px;
    color: #202020 !important;
    margin-top: 20px;
    border: 2px solid #bebebe !important;
    font-family: "Changa-Regular" !important;
}
.signup__btn {

    width: 10em !important;
    height: 2.6em;
    border: 2px solid #EF8451 !important;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    background-color: #EF8451 !important;
    font-family: "Changa-Regular" !important;
    margin-top: 10px !important;
}
.para {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: "Changa-Regular", sans-serif !important;
}
.link {
    font-weight: bold;
    text-decoration: none;
    color: #2A6355;
}

.link:hover {
    color: #000;
}
.msErr {
    color: rgba(209, 3, 3, 0.938) !important;
    font-size: 12px !important;
    font-family: "Changa-Regular";
    font-weight: bold;

}
.add-uncle-button {
    margin-top: 15px !important;
    border: 0 !important;
    background-color: transparent !important;
    font-family: "Changa-Regular" !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 41px !important;
    color: #252525c9 !important;
    float: left;
    
  }
