.home-brief{
    background-color: #f5f5f5;
    padding: 30px;
}
.home-brief__img{
    width: 150px;
    height: 150px;
}
.home-brief__title{
    color: #273435 !important;
    font-family: "Changa-Regular";
    font-size: 25px;
    font-weight: 500;
    
}
.home-brief__pragraph{
    font-family: "Changa-Regular";
    color: #6B6B6B !important;
    font-size: 18px;
}
.home-brief__part{
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    height: fit-content;
    transition: all .2s linear;
    
}
.home-brief__part:hover{
   
  transform: translateY(-10px);
} 
