.acutionDetails__body{
    margin-top: 50px;
    font-family: "Changa-SemiBold";
    border-bottom: 1px solid #dad6d6;
}
.acutionDetails__title{
    color: #bebdbd;
    font-family: "Changa-Regular";
}
.acution{
    color:  #000 !important;
}
.images{
    width: 20%;
    height: 100%;
}


.acutionDetails__para{
    color: #777;
    font-family: "Changa-Regular";
}
.acution__desc{
    margin-top: 50px !important;
}
.desc__body{
    font-family: "Changa-SemiBold";
        border-bottom: 1px solid #dad6d6;
        padding-bottom: 15px;
}
.desc__para{
    font-family: "Changa-Regular";
    font-size: 20px;
}
.desc__price{
color: #EF8451;

}
.acutionTime{
    margin-top: 20px;
}
.acutionTime__para{
    color: #777;
    font-size: 17px;
    font-family: "Changa-Regular";
}
.countdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px 20px;
    font-family: "Changa-SemiBold";
    margin-bottom: 20px;
}
.countdownTime{
    margin: auto;
    text-align: center;
}
.bid{
    display: flex;
    align-items: center;
    gap: 5%;
}
.price{
    border: 1px solid #bebdbd;
    padding: 5px 0px;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    font-family: "Changa-SemiBold";
}

.increment__btn,
.decrement__btn{
   background-color: #fff;
   border: none;
   
}
.increment__btn{
    margin-right: 30px;
}
.decrement__btn{
    margin-left: 30px;
}
.bid__btn{
    background-color: #EF8451;
    color: #fff;
    padding: 10px 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: "Changa-Regular";
}
.bid__icon{
    border: 1px solid #bebdbd;
    padding: 10px ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 40px;
}
.acution__info{
    display: flex;
    gap: 5px;

}
.style__link{
    color: #EF8451;
    background-color: #fff;
box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
padding: 10px 100px;
margin: auto;
font-family: "Changa-Regular";
}
.style__link:hover{
    color: #EF8451
}
.view__link{
    color: #fff;
    background-color: #EF8451;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
        padding: 10px 90px;
        margin: auto;
        font-family: "Changa-Regular";
}
.view__link:hover{
    color: #fff;
}
.acution__info__body,
.vendor__body{
    margin-top: 50px;
}
.vendor__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.acution__info__para{
    font-family: "Changa-Regular";
}
.none{display: none;}
.info__icon,
.info__para span{
    color: #EF8451;
    font-family: "Changa-Regular";
}
.info__icon{
    font-size: 27px;
    margin-right: 10px;
}
.info__para{
font-family: "Changa-SemiBold";

}
.info__para span{
    margin-left: 10px;
}

@media (max-width:767px) {
    .acution__info{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
        .style__link,
                .view__link{
            width: 100%;
            text-align: center;
        }
                 .vendor__body {
                    display: flex;
                    flex-direction: column;
                }
}

@media (min-width:768px) and (max-width:1200px) {
    .vendor__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
    }
.acution__info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.style__link,
.view__link {
    width: 100%;
    text-align: center;
}
}

@media (min-width:1201px) and (max-width:1300px) {
    .vendor__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
    }
}