.acutionDetails__body{
    margin-top: 50px;
    font-family: "Changa-SemiBold";
    border-bottom: 1px solid #dad6d6;
}
.acutionDetails__title{
    color: #bebdbd;
    font-family: "Changa-Regular";
}
.acution__title {
    margin-top: 10px;
    font-family: "Changa-Regular";
}
body[dir="rtl"] .acutionDetails__title {
    direction: ltr;
}

body[dir="ltr"] .acutionDetails__title {
    direction: rtl;
}
body[dir="rtl"] .acution__title {
    direction: ltr;
}

body[dir="ltr"] .acution__title {
    direction: rtl;
}
.acution{
    color:  #000 !important;
}
.images{
    width: 20%;
    height: 100%;
}


.acutionDetails__para{
    color: #777;
    font-family: "Changa-Regular";
}
.acution__desc{
    margin-top: 50px !important;
}

.desc__body{
    font-family: "Changa-SemiBold";
        border-bottom: 1px solid #dad6d6;
        padding-bottom: 15px;
}
.desc__para{
    font-family: "Changa-Regular";
    font-size: 20px;
}
body[dir="rtl"] .desc__para {
    direction: ltr;
}

body[dir="ltr"] .desc__para {
    direction: rtl;
}
.desc__price{
color: #EF8451;

}
.acutionTime{
    margin-top: 20px;
}
.acutionTime__para{
    color: #777;
    font-size: 17px;
    font-family: "Changa-Regular";
}
body[dir="rtl"] .acutionTime__para {
    direction: ltr;
}

body[dir="ltr"] .acutionTime__para{
    direction: rtl;
}
.countdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px 20px;
    font-family: "Changa-SemiBold";
    margin-bottom: 20px;
}
.countdownTime{
    margin: auto;
    text-align: center;
}
.bid{
    display: flex;
    align-items: center;
    gap: 5%;
}
.price{
    border: 1px solid #bebdbd;
    padding: 5px 0px;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    font-family: "Changa-SemiBold";
}
body[dir="rtl"] .bid {
    direction: ltr;
}

body[dir="ltr"] .bid {
    direction: rtl;
}
.increment__btn,
.decrement__btn{
   background-color: #fff;
   border: none;
   
}
.increment__btn{
    margin-right: 30px;
}
.decrement__btn{
    margin-left: 30px;
}
.bid__btn{
    background-color: #EF8451;
    color: #fff;
    padding: 10px 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: "Changa-Regular";
}
.bid__icon{
    border: 1px solid #bebdbd;
    padding: 10px ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 40px;
}
.acution__info{
    display: flex;
    gap: 5px;

}
.style__link{
    color: #EF8451;
    background-color: #fff;
box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
padding: 10px 100px;
margin: auto;
font-family: "Changa-Regular";
}
.style__link:hover{
    color: #EF8451
}
.view__link{
    color: #fff;
    background-color: #EF8451;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
        padding: 10px 90px;
        margin: auto;
        font-family: "Changa-Regular";
}
.view__link:hover{
    color: #fff;
}
.acution__info__body,
.vendor__body{
    margin-top: 50px;
}
.vendor__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.acution__info__para{
    font-family: "Changa-Regular";
}
.none{display: none;}
.info__icon,
.info__para span{
    color: #EF8451;
    font-family: "Changa-Regular";
}
.info__icon{
    font-size: 27px;
    margin-right: 10px;
}
.info__para{
font-family: "Changa-SemiBold";

}
.info__para span{
    margin-left: 10px;
}

@media (max-width:767px) {
    .acution__info{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
        .style__link,
                .view__link{
            width: 100%;
            text-align: center;
        }
                 .vendor__body {
                    display: flex;
                    flex-direction: column;
                }
}

@media (min-width:768px) and (max-width:1200px) {
    .vendor__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
    }
.acution__info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.style__link,
.view__link {
    width: 100%;
    text-align: center;
}
}

@media (min-width:1201px) and (max-width:1300px) {
    .vendor__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
    }
}
.n{
    color: rgb(141, 12, 12);
    font-size: 30px;
}
body[dir="rtl"] .n {
    direction: ltr;
}

body[dir="ltr"] .n {
    direction: rtl;
}
.count{
    border: none;
    width: 50px;
}
/*------------------------------------------*/
.AcutionCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    gap: 2%;
}

.card {
    position: relative;
    width: 400px;
    height: 520px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
    margin-bottom: 40px;

}

.card__title {
    font-family: "Changa-SemiBold";
    position: absolute;
    left: 40%;
    bottom: 30px;
    font-weight: 400;
    color: #000;
}

.card__acution {
    position: absolute;
    left: 30%;
    bottom: -5px;
    color: #000;
    font-family: "Changa-Regular";
}

.card:active {
    transform: scale(0.98);
}


.image {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.flipCard {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    font-family: sans-serif;
}

.flipCard__inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCard__inner {
    transform: rotateY(180deg);
}

.flipCard__front,
.flipCard__back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCard__back img,
.flipCard__front img {
    width: 382px;
    height: 435px;
}

.flipCard__back {
    transform: rotateY(180deg);
}

.acutionEnded {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    color: #fff;
    padding: 10px 20px;
    font-size: 35px;
}

.acutionCountdown {
    position: absolute;
    top: 70%;
    left: 10px;
    color: #777;
    border: 2px solid #fff;
    padding: 10px 0px 5px 20px;
    display: flex;
    background-color: #fff;
}

.countdown {
    display: flex;
    justify-content: space-around;
}

.countdown__body {
    display: flex;
    flex-direction: column;
}

.countdown__dot {
    margin-right: 30px;
}

.countdown div {
    text-align: center;
    margin: auto;
    margin-right: 10px;
    font-family: "Changa-SemiBold";
}



.ended {
    font-family: "Changa-Regular";
    font-size: 20px;
    background-color: #FDE4DD;
    padding: 2px 8px;
    border-radius: 4px;
    color: #777;
    margin: 5px;
}

.icon:hover {
    color: #fff;
    background-color: #EF8451;
}

@media (max-width:767px) {
    .AcutionCards {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 350px;
        margin: 20px auto;
    }

    .flipCard__back img,
    .flipCard__front img {
        width: 335px;
        height: 435px;
    }

    .countdown__dot {
        margin-right: 15px;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .AcutionCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
    }

    .card {
        width: 350px;
        margin: 20px auto;
    }

    .flipCard__back img,
    .flipCard__front img {
        width: 335px;
        height: 435px;
    }

    .countdown__dot {
        margin-right: 15px;
    }
}

@media (min-width:1201px) and (max-width:1300px) {
    .AcutionCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
    }

    .card {
        width: 350px;
        margin: 20px auto;
    }

    .flipCard__back img,
    .flipCard__front img {
        width: 335px;
        height: 435px;
    }

    .countdown__dot {
        margin-right: 15px;
    }
}

.end {
    font-size: 30px;
}
.para {
    text-align: center !important;
    padding: 10px !important;
    font-size: 20px !important;
    font-family: "Changa-Regular", sans-serif !important;
}
body[dir="rtl"] .desc__paid {
    direction: ltr;
}

body[dir="ltr"] .desc__paid {
    direction: rtl;
}