.logForm {
    display: flex;
    text-align: center;
    background-image: url(../../assets/images/WhatsApp\ Image\ 2023-02-25\ at\ 12.33.53\ AM.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 80vh;
}

.userName {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    margin: 0 20px;
}

.signup {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border: 1px solid #eee;
    box-shadow: 0 0 4px 0 #00000040;
    padding-bottom: 50px;
}

.signup__title {
    margin: 20px 0;
    color: #fff;
}

.msErr {
    color: rgb(168, 1, 1) !important;
    font-size: 17px !important;
    font-weight: bold !important;

}

.signup__para {
    font-size: 17px;
    margin: 20px 0;
    color: #fff;
}

.signup__para a {
    color: #E68500;
    font-weight: bold;
}
.signup__para a:hover {
    color: #fff;
}
.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #f5f0f0;
    box-shadow: inset 2px 5px 10px rgba(234, 147, 76, 0.61);
    transition: 300ms ease-in-out;
    font-size: 17px;
    color: #202020;
    margin-top: 20px;
    border: 2px solid #E68500 !important;
    min-width: 400px !important;
    height: 50px;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 0 0 0 4px rgba(234, 147, 76, 0.61);
}

.input:hover {
    border: 2px solid #E68500 !important;
    box-shadow: 0 0 0 4px rgba(234, 147, 76, 0.61);
}

.signup__btn {
    --color: #333;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    position: relative;
    overflow: hidden;
    border: 2px solid #E68500 !important;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    background-color: #E68500 !important;
}

.signup__btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.signup__btn:hover {
    color: #fff;
    background-color: #E68500 !important;
    border: 2px solid #E68500 !important;
}

.signup__btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.signup__btn:hover:before {
    top: -30px;
    left: -40px;
}

.signup__btn:active:before {
    background: #fff;
    transition: background 0s;
}

.signup__btn {
    width: 100%;
}

.PhoneInputInput input {
    border: none !important;
    outline: none !important;
    background-color: #f5f0f0 !important;
}

@media (max-width:767px) {
    .signup {
        width: 95%;
        margin-top: 50px;
    }

    .userName {
        display: block;
    }

    .logForm {
        height: 100vh;
        margin-top: 20px;
        margin-top: -1px;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .signup {
        width: 95%;
    }

    .userName {
        display: block;
    }

    .logForm {
        height: 100vh;
        margin-top: 20px;
        margin-top: -1px;
    }
}

@media (min-width:1201px) and (max-width:1450px) {
    .signup {
        width: 75%;
    }

    .signup__btn {
        margin: 0 50%;
    }
}

@media (min-width:1451px) {
    .signup__btn {
        margin: 0 50%;
    }
}