.logForm {
    padding-bottom: 50px;
}

.login {
        text-align: center;
    position: relative;
    width: 50% !important;
    margin: auto;
    margin-top: 3% ;
    border: 1px solid #FFF;
    background-color: #ffffff;
    padding-bottom: 30px;
    border-radius: 5px;
    font-family: "Changa-Regular" !important;
    box-shadow: 0 0 4px 0 #696969da;
    direction: rtl;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.loginPara {
    position: absolute;
    color: #333;
    left: 80% !important;
    background-color: #fff;
    top: -18px;
    font-size: 20px;

}
.btnImg {
    border: 1px solid transparent;
    border-radius: 50% !important;
    width: 150px;
    height: 150px;
    cursor: pointer;
    font-size: large;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    background-color: #dad3d3 !important;
    margin-top: 20px;
}


.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fileImg {
    display: none;
}


.userName {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    margin: 0 20px;
align-items: center;   
}

.signup {
    margin: auto;
    margin-top: 10%;
    border: 1px solid #eee;
    box-shadow: 0 0 4px 0 #246d57da;
    padding-bottom: 30px;
    border-radius: 15px;
    background-color: #eeeeeee0 !important;
    font-family: "Changa-Regular" !important;
    width: 100%;
}

.signup__title {
    margin: 20px 0;
    color: #246d57da;
    font-family: "Changa-SemiBold";
}

.msErr {
    color: rgba(209, 3, 3, 0.938) !important;
    font-size: 12px !important;
    font-family: "Changa-Regular";
    font-weight: bold;

}

.signup__para {
    font-size: 17px;
    margin: 20px 0;
    color: #292929;
    font-family: "Changa-Regular";
}

.signup__para a {
    color: #333333;
    font-weight: bold;
    font-family: "Changa-Regular";
}

.signup__para a:hover {
    color: #333333 !important;
}
 .input {
    border: 1px solid #708A81;
    outline: none;
    border-radius: 15px !important;
    padding: 1em;
    background-color: #fff !important;
    transition: 300ms ease-in-out;
    font-size: 14px;
    color: #202020 !important;
    margin-top: 20px;
    height: 50px;
    font-family: "Changa-Regular" !important;
    position: relative;
    direction: ltr !important;
    width: 100%;
}



body[dir="rtl"] .input::placeholder {
    text-align: left !important;
}

body[dir="ltr"] .input::placeholder {
    text-align: right !important;
}

.input:focus {
    /* background-color: #f5f0f0cb; */
    box-shadow: 0 0 0 0.25rem transparent;
    border: 0px solid #246d57da !important;
    transform: scale(1.00);
    box-shadow: 0 0 0 0.25rem rgba(21, 65, 50, 0.61);
}

.input:hover {
    border: 2px solid #246d57da !important;
    box-shadow: 0 0 0 2px rgba(21, 65, 50, 0.61);
}

.signup__btn {
    --color: #333;
    font-family: inherit;
    display: inline-block;
    height: 2.6em;
    line-height: 2.5em;
    margin: 5px;
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    width: 300px !important;
    color: #fff;
    background-color: #246d57da !important;
    border-radius: 15px !important;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0px solid #246d57da !important;
}

.signup__btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    height: 100px;
    width: 120px;
    border-radius: 50%;
}

.signup__btn:hover {
    color: #fff;
    background-color: #246d57da !important;
    border: 0;
}

.signup__btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.signup__btn:hover:before {
    top: -30px;
    left: -40px;
}

.signup__btn:active:before {
    background: #fff;
    transition: background 0s;
}

.signup__btn {
    width: 100%;
}

body[dir="rtl"] .PhoneInputInput input {
    border: none !important;
    outline: none !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    direction: ltr !important;


}

body[dir="ltr"] .PhoneInputInput input {
    border: none !important;
    outline: none !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    direction: ltr !important;

}

@media (max-width:767px) {
    .signup {
        width: 100%;
        margin-top: 50px;
    }

    .userName {
        display: block;
    }

    .logForm {
        height: auto;
        margin-top: 20px;
        margin-top: -1px;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .signup {
        width: 100%;
    }

    .userName {
        display: block;
    }

    .logForm {
        height: auto;
        margin-top: 20px;
        margin-top: -1px;
    }
}

@media (min-width:1201px) and (max-width:1450px) {

    /* .signup__btn {
        margin: 0 50%;
    } */
}

.row{
    text-align: right;
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}
.case{
    border-top: 1px solid #708A81;
font-family: "Changa-SemiBold";
padding-top: 10px;
text-align: center;
}
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2% ;
}
.im{
    margin-top: 10px;
    
}