.eventCard {
    border: 1px solid #e6e6e6;
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 125px;
    margin-bottom: 20px;
    cursor: pointer;
}
@media (min-width:1201px) {
    .eventCard{
        width: 680px;
    }
}
body[dir="rtl"] .event__date {
    background-color: #246d57da;
    padding: 15px;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius:0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
    color: #fff;
}
body[dir="ltr"] .event__date {
    background-color: #246d57da;
    padding: 15px;
    border-radius: 10px 0 0px 10px;
    -webkit-border-radius: 10px 0 0px 10px;
    -moz-border-radius: 10px 0 0px 10px;
    -ms-border-radius: 10px 0 0px 10px;
    -o-border-radius: 10px 0 0px 10px;
    color: #fff;
}

body[dir="rtl"] .eventCard__body {
    padding: 10px;
    direction: ltr;
}
body[dir="ltr"] .eventCard__body {
    padding: 10px;
    direction: rtl;
}
.eventCard__para {
    font-size: 20px;
    color: #8a8b8b;
    font-weight: 300;
}
.event__date{
    text-align: center;
    
}
.link{
    color: black;
}
.link:hover {
    color: #246d57da;
}