.logForm {
 
    display: flex;
    background-image: url(./../../assets/images/3-copy-scaled.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 50px;
    

}

.login {
    width: 60%;
    margin: auto;
    margin-top: 3%;
    border: 1px solid #eee;
    box-shadow: 0 0 4px 0 #ff9500da;
    padding-bottom: 30px;
    border-radius: 15px;
    background-color: #eeeeeee0 !important;
    font-family: "Changa-Regular" !important;
    text-align: center;

}

.login__title {
    margin: 20px 0;
    color: #E68500;
    font-family: "Changa-SemiBold";
    font-size: 30px;
}
.forgot__title{
    color: #535353 !important;
    text-decoration: none;
    font-family: "Changa-Regular" !important;
    font-size: 17px;
    padding: 5px 0px;
}

.inputGroupp {
    position: relative;
    
}
.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #f5f0f0;
    box-shadow: inset 2px 5px 10px rgba(234, 147, 76, 0.61);
    transition: 300ms ease-in-out;
    font-size: 17px;
    color: #202020;
    border: 2px solid #E68500 !important;
    width: 500px !important;
    height: 50px;
    margin: 10px auto;
}
body[dir="rtl"] .input::placeholder{
    text-align: left !important;
}
body[dir="ltr"] .input::placeholder{
    text-align: right !important;
}
.input:focus {
    background-color: white;
    transform: scale(1.01);
    box-shadow: 0 0 0 4px rgba(234, 147, 76, 0.61);
}

.input:hover {
    border: 2px solid #E68500 !important;
    box-shadow: 0 0 0 4px rgba(234, 147, 76, 0.61);
}

.log__btn {
    --color: #333;
    font-family: inherit;
    display: inline-block;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #E68500;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    background-color: #E68500;
    padding-left: 30px; 
    width: 500px !important;
}

.log__btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.log__btn:hover {
    color: #ffffff;
}

.log__btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.log__btn:hover:before {
    top: -30px;
    left: -45px;
}

.log__btn:active:before {
    background: #fff;
    transition: background 0s;
}

.log__btn {
    width: 50%;
}

.forgetLine {
    margin-bottom: 20px;
}

.forget__link {
    color: #333333;
    text-decoration: none;
}

.forget__link:hover {
    color: #000;

}

@media (max-width:767px) {
    .login {
        width: 90%;
    }

    .inputt,
    .log__btn {
        width: 80%;
    }

    .user-labell {
        left: 15%;
    }

    .log__btn:hover:before {
        left: -100px;
    }
}

.forgot__title{
    color: #fff;
    font-weight: bold;
}




