.logForm {
    display: flex;
    text-align: center;
    background-image: url(../../assets/images/WhatsApp\ Image\ 2023-02-25\ at\ 12.33.53\ AM.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
   
}
.userName {

    margin:50px 0;
}
.login {
    width: 40%;
        margin: auto;
        margin-top: 3%;
        border: 1px solid #eee;
        box-shadow: 0 0 4px 0 #00000040;
        padding-bottom: 50px;

}

.login__title {
    margin: 30px 0;
    color: #fff;
}
.input {
        border: none;
            outline: none;
            border-radius: 15px;
            padding: 1em;
            background-color: #f5f0f0;
            box-shadow: inset 2px 5px 10px rgba(234, 147, 76, 0.61);
            transition: 300ms ease-in-out;
            font-size: 17px;
            color: #202020;
            border: 2px solid #E68500 !important;
            width: 600px !important;
            height: 50px;
            margin: 10px auto;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 0 0 0 4px rgba(234, 147, 76, 0.61);
}

.input:hover {
    border: 2px solid #E68500 !important;
    box-shadow: 0 0 0 4px rgba(234, 147, 76, 0.61);
}

.log__btn{
    --color: #333;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #E68500;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    background-color: #E68500;
}

.log__btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.log__btn:hover {
    color: #fff;
}
.log__btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.log__btn:hover:before{
    top: -30px;
    left: -40px;
}

.log__btn:active:before{
    background: #fff;
    transition: background 0s;
}

.log__btn {
    width: 50%;
}

.forgetLine {
    margin-bottom: 20px;
}

.log__link {
    color: #fff;
    text-decoration: none;
}

.log__link:hover {
    color: #000;

}
.userLog__list{
    list-style: none;
display: flex;
justify-content: space-around;
  
}
.userLog__link{
    background-color: #fff;
    padding: 10px 30px;
    border: 2px solid #E68500;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #E68500;
}
.user__link{
background-color: #E68500;
    padding: 10px 30px;
    border: 2px solid #E68500;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
}
.msErr {
    color: rgb(168, 1, 1);
    margin: 15px 0 0 15px;
    font-size: 17px;
    font-weight: bold;

}
@media (max-width:767px) {
    .login {
        width: 95%;
        margin-top: 50px;
    }

    .input,
    .log__btn {
        width: 85% !important;
        margin: auto;
    }
    .input{
        margin-top: 30px;
    }
    .user-labell {
        left: 15%;
    }

    .log__btn:hover:before {
        left: -50px;
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .login {
        width: 95%;
    }

}
@media (min-width:1201px) and (max-width:1450px) {
    .login {
        width: 75%;
    }

}

@media (min-width:1451px) {
        .login {
                width: 50%;
            }
}