.logForm {
    display: flex;
    text-align: center;
    background-image: url(../../assets/images/ngo-illustration-Artboard-5.png);
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 150px;
    background-color: #2A6355;
    margin-left: -50%; 
}
body[dir="rtl"] .logForm{
    margin-right: -90%;
}
.userName {
   
    margin:50px 0;
}
.login {
    width: 35%;
    margin: auto;
    margin-top: 10%;
    border: 1px solid #eee;
    box-shadow: 0 0 4px 0 #246d57da;
    padding-bottom: 30px;
    border-radius: 15px;
    background-color: #eeeeeee0 !important;
    font-family: "Changa-Regular" !important;
margin-left: 90% !important;
}
body[dir="rtl"] .login{
    margin-left: -40% !important;
}

.login__title {
    margin: 20px 0;
    color: #2A6355;
    font-family: "Changa-SemiBold";
}
.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #f5f0f0;
    transition: 300ms ease-in-out;
    font-size: 17px;
    color: #202020;
    border: 2px solid #2A6355!important;
    width: 500px !important;
    height: 50px;
    margin: 10px auto;
}

.input:focus {
    background-color: white;
    transform: scale(1.01);
    box-shadow: 0 0 0 4px rgba(21, 65, 50, 0.61);
}

.input:hover {
    border: 2px solid #2A6355 !important;
    box-shadow: 0 0 0 4px rgba(21, 65, 50, 0.61);
}

.log__btn{
    --color: #333;
    font-family: inherit;
    display: inline-block;
    width: 500px !important;
    height: 2.6em;
    line-height: 2.5em;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid #2A6355;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    background-color: #2A6355;
}
body[dir="rtl"] .input::placeholder{
    text-align: left !important;
}
body[dir="ltr"] .input::placeholder{
    text-align: right !important;
}
.log__btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.log__btn:hover {
    color: #fff;
}
.log__btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.log__btn:hover:before{
    top: -30px;
    left: -40px;
}

.log__btn:active:before{
    background: #fff;
    transition: background 0s;
}

.log__btn {
    width: 50%;
}

.forgetLine {
    margin-bottom: 20px;
}

.log__link {
    color: #333333;
    text-decoration: none;
}

.log__link:hover {
    color: #333;

}
.userLog__list{
    list-style: none;
    display: flex;
    justify-content: space-around;

    padding: 0 !important;
    margin-top: 10px !important;
    
}
.userLog__link{
    background-color: #fff;
    padding: 10px 20px;
    border: 2px solid #2A6355;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #2A6355;
}
.user__link{
background-color: #2A6355;
    padding: 10px 20px;
    border: 2px solid #2A6355;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #ffffff;
}

.msErr {
    color: rgba(209, 3, 3, 0.938) !important;
    font-size: 12px !important;
    font-family: "Changa-Regular";
    font-weight: bold;

}
@media (max-width:767px) {
     .login {
        width: 65%;
        margin-top: 50px;
        margin-left: 35% !important;
    }
                body[dir="rtl"] .login {
                    width: 50%;
                    margin-top: 50px;
                    margin-left: 0 !important;
                }
        
                body[dir="rtl"] .logForm {
                    margin-left: 0 !important;
                }

    .input,
    .log__btn {
        width: 85% !important;
        margin: auto;
    }
    .input{
        margin-top: 30px;
    }
    .user-labell {
        left: 15%;
    }

    .log__btn:hover:before {
        left: -50px;
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .login {
        width: 95%;
        margin-left: 30% !important;
    }
                        body[dir="rtl"] .login {
                            width: 90%;
                            margin-top: 50px;
                            margin-left: -20% !important;
                        }
            
                        

}
@media (min-width:1201px) and (max-width:1450px) {
    .login {
        width: 75%;
        margin-left: 40% !important;
    }
                 body[dir="rtl"] .login {
                     width: 90%;
                     margin-top: 50px;
                     margin-left: -17% !important;
                 }

}

@media (min-width:1451px) and (max-width:1560px){
        .login {
                width: 50%;
                margin-left: 82% !important;
            }
        body[dir="rtl"] .login {
                width: 50%;
                margin-top: 50px;
                margin-left: -25% !important;
            }
        body[dir="rtl"] .logForm {
                  margin-right: -90% !important;
            }
}
@media (min-width:1561px) {
    .login {
        width: 50%;
    }
                        body[dir="rtl"] .login {
                            width: 50%;
                            margin-top: 50px;
                            margin-left: -32% !important;
                        }
            
                        body[dir="rtl"] .logForm {
                            margin-right: -90% !important;
                        }
}