.acutionBody{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    font-family: "Changa-SemiBold";
}
.acutionBody__title,
.acutionBody__img{
    margin: auto;
}
.acutionBody__title{
    margin-bottom: 20px;
}
.AcutionCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 70px;
}
body[dir="rtl"] .AcutionCards {
direction: ltr;

}

body[dir="ltr"] .AcutionCards {
direction: rtl;
}
.card {
    position: relative;
    width: 400px;
    height: 520px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
}
 .card__title {
font-family: "Changa-SemiBold";
    position: absolute;
    left: 25%;
    bottom: 30px;
    font-weight: 400;
    color: #000;
}

.card__acution {
    position: absolute;
    left: 30%;
    bottom:-5px;
    color: #000;
    font-family: "Changa-Regular";
} 
.card:active {
    transform: scale(0.98);
}


.image {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.flipCard {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    font-family: sans-serif;
}
.flipCard__inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCard__inner {
    transform: rotateY(180deg);
}

.flipCard__front,
.flipCard__back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flipCard__back img,
.flipCard__front img{
    width: 382px;
    height: 435px;
}
.flipCard__back {
    transform: rotateY(180deg);
}
.acutionIcons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    color: #fff;
    padding: 10px 20px;
    font-size: 35px;
}
.acutionCountdown{
            position: absolute;
            top:70%;
            left: 10px;
            color: #777;
            border: 2px solid #fff;
            padding: 10px 0px 5px 20px;
            display: flex;
            background-color: #fff;
}
.countdown{
    display: flex;
    justify-content: space-around;
}
.countdown__body{
    display: flex;
    flex-direction: column;
}
.countdown__dot{
    margin-right: 30px;
}
.countdown div{
    text-align: center;
    margin: auto;
    margin-right: 10px;
    font-family: "Changa-SemiBold";
}
.icons {
    display: flex;
    flex-direction: column;
}

.icon  {
    
    color: #EF8451;
        background-color: #fff;
    margin-bottom: 2px;
    
    padding: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.icon:hover{
    color: #fff;
    background-color: #EF8451;
}
@media (max-width:767px) {
    .AcutionCards{
        display: flex;
        flex-direction: column;
    }
        .card{
            width: 350px;
            margin: 20px auto;
        }
                .flipCard__back img,
                .flipCard__front img {
                    width: 335px;
                    height: 435px;
                }
                                .countdown__dot {
                                    margin-right: 15px;
                                }
}
@media (min-width:768px) and (max-width:1200px) {
    .AcutionCards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2%;
    }

    .card {
width: 350px;
        margin: 20px auto;
    }
        .flipCard__back img,
        .flipCard__front img {
            width: 335px;
            height: 435px;
        }
                .countdown__dot{
                    margin-right: 15px;
                }
}
@media (min-width:1201px) and (max-width:1300px) {
    .AcutionCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
    }

    .card {
        width: 350px;
        margin: 20px auto;
    }

    .flipCard__back img,
    .flipCard__front img {
        width: 335px;
        height: 435px;
    }

    .countdown__dot {
        margin-right: 15px;
    }
}
.modalAcution{
    margin:0 auto 30px;
    background-color: #EF8451;
    color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.modalAcution:hover{
    color: #fff;
}
.para {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: "Changa-Regular", sans-serif !important;
}
.link {
    font-weight: bold;
    text-decoration: none;
    color: #2A6355;
}

.link:hover {
    color: #000;
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 5px !important;
}

.fileImg {
    display: none;
}

.button {
    margin: 0 auto;
    border: 1px solid transparent;
    width: 300px;
    height: 150px;
    cursor: pointer;
    font-size: 17px;
    background-color: #dad3d3 !important;
    margin-bottom: 5px;
    font-family: "Changa-Regular", sans-serif !important;

}
.question {
    position: relative;
}

.questionMark {
    position: absolute;
    right: 95%;
    top: 86%;
    cursor: pointer;
}

.questionMark__para {
    background-color: aliceblue;
    padding: 2px;
    width: 39%;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: absolute;
    right: 55%;
    top: 85.5%;
    opacity: 0;
}

.questionMark:hover+.questionMark__para {
    opacity: 1;
}
.signup__btn{
    width: 10em !important;
        height: 2.6em;
        border: 2px solid #EF8451 !important;
        font-size: 17px;
        border-radius: 6px;
        font-weight: 500;
        color: #fff;
        background-color: #EF8451 !important;
        font-family: "Changa-Regular" !important;
        margin-top: 10px !important;
}
